.header {
    grid-area: h;
    background-color:rgb(243, 243, 243);
    }
    
.header img {
      width: 60px;
    }

.loginBlock {
  float: right;
}

.loginBlock a {
  color: rgb(255, 123, 134);
    text-decoration: none;
    font-size: 30px;
}